/* 
*****************CALCULATOR in pure JS, CSS and HTML**********************
**************************************************************************
*************************Developed by Elisa Amaral***********************
**************************************************************************
***********************https://github.com/elisa-amaral********************
************************************************************************** 
*/

:root
{
    --standard-black-color: #000000;
    --standard-white-color: #ffffff;
    --main-color: #53e153;
    --buttons-color: #107610;
    --dark-green-color: #074507;
    --light-green-color: #46ea30f5;
    --shadow-color: #056f05;
    --pink-color: #dc143c;
}
